[submodule "src/others/ZSTD"]
	path = src/others/ZSTD
	url = https://github.com/FernandoBanhos/ZSTD
[submodule "src/others/pascal_brotli"]
	path = src/others/pascal_brotli
	url = https://github.com/FernandoBanhos/pascal_brotli
[submodule "src/others/brookframework"]
	path = src/others/brookframework
	url = https://github.com/risoflora/brookframework.git
[submodule "src/others/kxBSON"]
	path = src/others/kxBSON
	url = https://github.com/kxMaxx/kxBSON
