PascalRAL BITMAP "..\components\base\PascalRAL.bmp"
TRALClientBasicAuth BITMAP "..\components\base\TRALClientBasicAuth.bmp"
TRALClientJWTAuth BITMAP "..\components\base\TRALClientJWTAuth.bmp"
TRALClientOAuth BITMAP "..\components\base\TRALClientOAuth.bmp"
TRALClientOAuth2 BITMAP "..\components\base\TRALClientOAuth2.bmp"
TRALClientDigest BITMAP "..\components\base\TRALClientDigest.bmp"
TRALServerBasicAuth BITMAP "..\components\base\TRALServerBasicAuth.bmp"
TRALServerJWTAuth BITMAP "..\components\base\TRALServerJWTAuth.bmp"
TRALServerOAuth BITMAP "..\components\base\TRALServerOAuth.bmp"
TRALServerOAuth2 BITMAP "..\components\base\TRALServerOAuth2.bmp"
TRALServerDigest BITMAP "..\components\base\TRALServerDigest.bmp"
TRALStorageJSONLink BITMAP "..\components\base\TRALStorageJSONLink.bmp"
TRALStorageBINLink BITMAP "..\components\base\TRALStorageBINLink.bmp"
TRALClientBasicAuth16 BITMAP "..\components\base\TRALClientBasicAuth16.bmp"
TRALClientJWTAuth16 BITMAP "..\components\base\TRALClientJWTAuth16.bmp"
TRALClientOAuth16 BITMAP "..\components\base\TRALClientOAuth16.bmp"
TRALClientOAuth216 BITMAP "..\components\base\TRALClientOAuth216.bmp"
TRALClientDigest16 BITMAP "..\components\base\TRALClientDigest16.bmp"
TRALServerBasicAuth16 BITMAP "..\components\base\TRALServerBasicAuth16.bmp"
TRALServerJWTAuth16 BITMAP "..\components\base\TRALServerJWTAuth16.bmp"
TRALServerOAuth16 BITMAP "..\components\base\TRALServerOAuth16.bmp"
TRALServerOAuth216 BITMAP "..\components\base\TRALServerOAuth216.bmp"
TRALServerDigest16 BITMAP "..\components\base\TRALServerDigest16.bmp"
TRALDBWare16 BITMAP "..\components\base\TRALDBWare16.bmp"
TRALStorageJSONLink16 BITMAP "..\components\base\TRALStorageJSONLink16.bmp"
TRALStorageBINLink16 BITMAP "..\components\base\TRALStorageBINLink16.bmp"
TRALDBModule BITMAP "..\components\base\TRALDBModule.bmp"
TRALWebModule BITMAP "..\components\base\TRALWebModule.bmp"