PascalRAL BITMAP "..\components\base\PascalRAL.bmp"
TRALClient BITMAP "..\components\base\client\TRALClient.bmp"
TRALClientBasicAuth BITMAP "..\components\base\client\TRALClientBasicAuth.bmp"
TRALClientJWTAuth BITMAP "..\components\base\client\TRALClientJWTAuth.bmp"
TRALClientOAuth BITMAP "..\components\base\client\TRALClientOAuth.bmp"
TRALClientOAuth2 BITMAP "..\components\base\client\TRALClientOAuth2.bmp"
TRALClientDigest BITMAP "..\components\base\client\TRALClientDigest.bmp"
TRALServerBasicAuth BITMAP "..\components\base\server\TRALServerBasicAuth.bmp"
TRALServerJWTAuth BITMAP "..\components\base\server\TRALServerJWTAuth.bmp"
TRALServerOAuth BITMAP "..\components\base\server\TRALServerOAuth.bmp"
TRALServerOAuth2 BITMAP "..\components\base\server\TRALServerOAuth2.bmp"
TRALServerDigest BITMAP "..\components\base\server\TRALServerDigest.bmp"
TRALWebModule BITMAP "..\components\base\modules\TRALWebModule.bmp"
TRALSwaggerModule BITMAP "..\components\base\modules\TRALSwaggerModule.bmp"
TRALStorageBINLink BITMAP "..\components\base\storage\TRALStorageBINLink.bmp"
TRALStorageBSONLink BITMAP "..\components\base\storage\TRALStorageBSONLink.bmp"
TRALStorageCSVLink BITMAP "..\components\base\storage\TRALStorageCSVLink.bmp"
TRALStorageJSONLink BITMAP "..\components\base\storage\TRALStorageJSONLink.bmp"
TRALStorageXMLLink BITMAP "..\components\base\storage\TRALStorageXMLLink.bmp"