TRALFDConnection BITMAP "..\components\database\TRALFDConnection.bmp"
TRALFDQuery BITMAP "..\components\database\TRALFDQuery.bmp"
TRALFDConnection16 BITMAP "..\components\database\TRALFDConnection16.bmp"
TRALFDQuery16 BITMAP "..\components\database\TRALFDQuery16.bmp"