TRALDBStorageJSONLink BITMAP "..\components\database\TRALDBStorageJSON.bmp"
TRALDBStorageBINLink BITMAP "..\components\database\TRALDBStorageBIN.bmp"
TRALDBModule BITMAP "..\components\database\TRALDBModule.bmp"