TRALDBConnection BITMAP "..\components\database\TRALDBConnection.bmp"
TRALDBModule BITMAP "..\components\database\TRALDBModule.bmp"
TRALDBStorageBINLink BITMAP "..\components\database\TRALDBStorageBINLink.bmp"
TRALDBStorageBSONLink BITMAP "..\components\database\TRALDBStorageBSONLink.bmp"
TRALDBStorageCSVLink BITMAP "..\components\database\TRALDBStorageCSVLink.bmp"
TRALDBStorageJSONLink BITMAP "..\components\database\TRALDBStorageJSONLink.bmp"
TRALDBStorageXMLLink BITMAP "..\components\database\TRALDBStorageXMLLink.bmp"