TRALSynopseClient BITMAP "..\components\Synopse\TRALSynopseClient.bmp"
TRALSynopseClientMT BITMAP "..\components\Synopse\TRALSynopseClientMT.bmp"
TRALSynopseServer BITMAP "..\components\Synopse\TRALSynopseServer.bmp"