TRALSynopseClient BITMAP "..\components\engine\client\TRALSynopseClient.bmp"
TRALSynopseClientMT BITMAP "..\components\engine\client\TRALSynopseClientMT.bmp"
TRALSynopseServer BITMAP "..\components\engine\server\TRALSynopseServer.bmp"